<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="isLoading==false">
    <br>

    <input class="search" style="widows: 100%" #myInput matInput placeholder="search" [(ngModel)]="name"
        (input)="filterItem(myInput.value)">

    <ngx-sortable [items]="items" [listStyle]="listStyle">
        <ng-template let-item>
            <mat-card>
                Name: {{item.name}} <br>
                URL: {{item.url}}<br>
                Height: {{item.height}}<br>
                Homeworld: {{item.homeworld}}
            </mat-card>
        </ng-template>
    </ngx-sortable>
</div>