<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="container" *ngIf="isLoading==false">
    <br>

    <input class="search" style="widows: 100%" #myInput matInput placeholder="Search" [(ngModel)]="name"
        (input)="filterItem(myInput.value)">

    <ngx-sortable [items]="items" [name]="'Characters'" [listStyle]="listStyle">
        <ng-template let-item>
            <mat-card>
                <div class="card-header">
                    {{item.name}} <span class="right-pos">Height : {{item.height}}</span>
                </div>
                <div class="card-body">
                    <div class="details">URL : <span class="url">{{item.url}}</span></div>
                    <div class="details">Homeworld : <span class="url">{{item.homeworld}}</span></div>
                </div>
            </mat-card>
        </ng-template>
    </ngx-sortable>
</div>